<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="oxpscookieconsent">
            <SUBMENU id="oxps_cookieconsent_services" cl="oxps_cookieconsent_services">
                <TAB />
            </SUBMENU>
            <SUBMENU id="oxps_cookieconsent_scripts" cl="oxps_cookieconsent_scripts">
                <TAB />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>