<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         cacheTokens="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         verbose="false">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true"
                   processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../Core</directory>
            <directory suffix=".php">../DataObject</directory>
            <directory suffix=".php">../Service</directory>
        </whitelist>
    </filter>
</phpunit>