<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         cacheTokens="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         verbose="false">
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true"
                   processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src/Core</directory>
            <directory suffix=".php">../src/DataObject</directory>
            <directory suffix=".php">../src/Service</directory>
        </whitelist>
    </filter>
</phpunit>
